*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
}

.header__container{
    height: 8rem;
    background-color: rgb(104, 23, 233);
}

.header__title{
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
    color:white;
    padding-top: 3rem;
    text-align: center;
    
}

.slider__container{
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin-top: 3rem;
    margin: auto;
    margin-top: 3rem;
    width: 780px;
    height: 30rem;
    overflow: hidden;
}

.card__container{
    margin: 0rem 0rem 0rem 0rem;
    min-width: 90%;
    height: 30rem;
    padding-left: 5px;
    padding-right: 5px;
    transition: 0.5s;
}

.arrow {
    position: absolute;
    top: 45%;
    border: solid white;
    border-width: 0 3px 3px 0;
    height: 2rem;
    width: 2rem;
    padding: 0px;
    z-index: 1;
  }

.arrow__left{
    margin-left: 8%;
    transform: rotate(135deg);
}

.arrow__right{
    margin-left: 85%;
    transform: rotate(-45deg);
  
}
.image{
    width: 100%;
    height: 30rem;
}

.button__container{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
}

.button__shape{
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    margin: 1px;
}

.video{
    background-color: whitesmoke;
}

.text{
    background-color: black;
    width: 100%;
    height: 100%;
}

  span:hover{
      border:solid gray;
      border-width: 0 3px 3px 0;
  }
  @media screen and ( max-width:780px){
    .slider__container{
        position: relative;
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
        overflow: hidden;
        width: 100%;
        height: 25rem;
        overflow: hidden;
    }
    .card__container{
        margin: 0rem 0rem 0rem 0rem;
        min-width: 90%;
        height: 25rem;
        transition: 0.5s;
        padding-left: 5px;
        padding-right: 5px;
    }
    .image{
        width: 100%;
        height: 25rem;
    }
    .arrow {
        position: absolute;
        top: 45%;
        border: solid white;
        border-width: 0 3px 3px 0;
        height: 2rem;
        width: 2rem;
        padding: 0px;
        z-index: 1;
        /* visibility: hidden; */
      }
  }
  @media ( max-width:480px){
    .slider__container{
        position: relative;
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
        overflow: hidden;
        width: 100%;
        height: 20rem;
        overflow: hidden;
    }
    .card__container{
        margin: 0rem 0rem 0rem 0rem;
        min-width: 90%;
        height: 20rem;
        transition: 0.5s;
        padding-left: 3px;
        padding-right: 3px
    }
    .arrow {
        position: absolute;
        top: 45%;
        border: solid white;
        border-width: 0 3px 3px 0;
        height: 2rem;
        width: 2rem;
        padding: 0px;
        z-index: 1;
        visibility: hidden;
      }
  }

  @media (hover: none) and (pointer: coarse) {
     .arrow {
        position: absolute;
        top: 45%;
        border: solid white;
        border-width: 0 3px 3px 0;
        height: 2rem;
        width: 2rem;
        padding: 0px;
        z-index: 1;
        visibility: hidden;
      }
}
